// Define a "System" font stack for fallbacks

// Google fonts
@import url('//fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&family=Muli:wght@400;700&display=swap');

// Muli
$ff__sans: 'Muli';
$fs__sans: $ff__sans, 'Helvetica Neue', HelveticaNeue, Helvetica, sans-serif;
$fw__sans__normal: 400;
$fw__sans__bold: 700;

// Fira Mono
$ff__mono: 'Fira Mono';
$fs__mono: $ff__mono, 'Source Code', Consolas, "Lucida Console", "Liberation Mono", "Nimbus Mono L", monospace;
$fw__mono__normal: 400;
$fw__mono__bold: 700;

$lh__base: 1.5;
$lh__tight: 1.25;
$lh__loose: 1.625;

$vertical-rhythm: ($lh__base * 1rem);

$kerning: .03125em;
