// Utilities
.u {
  
  // Lists
  &__list {
    &__unstyled {
      list-style: none;
      margin-left: 0;
    }
  }
  
  // Text
  &__text {
    &__small {
      font-size: calc(var(--fs__sm) * 1rem);
      letter-spacing: ($kerning * 2);
    }
    
    &__to-upper {
      letter-spacing: ($kerning * 2);
      text-transform: uppercase;
    }
  }
  
  // Max width
  &__max-width {
    &--text {
      margin: 0 auto;
      //max-width: $max-width__text;
    }
  }
}
