<!doctype HTML>
<html lang="en" class="js">
  
  {% include head.html %}
  
  <body class="l--{{ page.layout }}{% if page.body-class %} page--{{ page.body-class }}{% endif %}" data-spy="scroll" data-target="#main-nav" data-offset="90">
    <div id="page-top" class="l">
      <a href="#content" class="sr-only sr-only-focusable skip-link">Skip to Content</a>
      
      {% include navigation.html %}
      
      <main class="l__main">
        <article class="l__article">
          
          {{ content }}
        
        </article>
      </main>
      
      {% include footer.html %}
    </div>
    
    {% include scripts.html %}
  </body>
</html>