.form {
  
  &-group {
    button {
      display: block;
      font-weight: bold;
      width: 100%;
    }
  }
  
  &-control {
    background: $white;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid $blue;
    border-left: 0;
  }
}


